ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ffddff;
    width: 500px;
    padding: 10px;
    margin: 20px 0;
}

.todo-item__checkbox {
    margin-right: 15px;
}

.todo-item__delete {
    display: inline-block;
    float: right;
}

.todo-item--complete {
    text-decoration: line-through;
}