
.container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.todo-container {
  background-color: $listBg;
  border-bottom: 4px solid darken($listBg, 40%);
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}

ul {
  list-style-type: none;
  padding: 0;
}



.todo-button {
  display: inline-block;
  outline: none; 
  background-color: #fff;
  border: 1px solid #fff;
  padding: 3px 10px;
  margin: 0 3px;
  border-radius: 4px;
  transition: border 0.15s;
}

.todo-button:hover {
  cursor: pointer;
}

.todo-button__add {
  border: 1px solid #ffe1e1;
}

.todo-button__filter--active {
  border: 1px solid #a1a1a1;
}


