li {
  background: $todoBg;
  border-bottom: 4px solid darken($todoBg, 40%);
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  display: none;
  opacity: 0;
  transform: translateX(10px);
}

.btn-item {
  cursor: pointer;
  float: right;
  margin-left: 15px;
  color: $listBg;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, color 0.3s;
  &:hover {
    color: $bodyBg;
  }
}

li:hover .btn-item {
 visibility: visible;
 opacity: 1;
}