li {
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  display: none;
  opacity: 0;
  transform: translateX(10px);
}

label:hover {
  cursor: text;
}

.todo-item--complete label {
  text-decoration: line-through red;
}

.btn-item {
  cursor: pointer;
  float: right;
  margin-left: 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, color 0.3s;
  &:hover {
    // color: $bodyBg;
  }
}

li:hover .btn-item {
 visibility: visible;
 opacity: 1;
}